{% load static %}
{% load tailwind_tags %}
<head>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    {% tailwind_css %}
                
    {% block extra_head %}{% endblock extra_head %}
        <title>{% block title %}{% endblock title %}</title>
</head>
<body class="bg-gray-100 dark:bg-dark-main  ">
    <div class="flex justify-center h-screen ">        
        <div class="w-full lg:w-2/3 xl:w-2/5 pt-32 lg:pt-16 px-2">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>