{% extends 'base.html' %}
{% block title %}Blog{% endblock title %}

{% block content %}
<div class="bg-white max-w-full dark:bg-dark-second shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <div class="bg-white dark:bg-dark-third max-w-full px-4 py-5 border-b rounded-lg mb-2 dark:border-dark-second border-gray-200 sm:px-6">
        <h2 class="text-xl leading-6 cursor-default dark:text-dark-txt prose rounded font-bold text-gray-900">
        Blog List
        </h2>
        <br>
        {%for post in posts%}
        <p class="mt-1 text-sm cursor-default dark:text-dark-txt text-gray-500">Blog:</p>
        <a class="items-center justify-center  rounded-full hover:bg-gray-200 dark:hover:bg-dark-third text-green-500 p1" href="{% url 'blog:detail' post.id %}">{{post.title}}</a>
        <br>
        <a class="items-center justify-center  rounded-full hover:bg-gray-200 dark:hover:bg-dark-third text-blue-500 p1" href="{% url 'blog:update' post.id %}">Update</a>
        <br>
        <a class="items-center justify-center  rounded-full hover:bg-gray-200 dark:hover:bg-dark-third text-red-500 p1" href="{% url 'blog:delete' post.id %}">Delete</a>
        {%endfor%}
        <br>
        <a class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="{% url 'blog:create' %}">Create</a>
        
        <a href="{% url "home" %}" class="px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cancel</a>
        

{% endblock content %}
