{% extends 'base.html' %}
{% block title %}CreateBlog{% endblock title %}

{% block content %}
<form class="form-horizontal dark:text-dark-txt" method="post"  enctype="multipart/form-data">
    <div class="mt-1 sm:mt-0 sm:col-span-2">
        {% csrf_token %}
        <div class="mt-4">
            <label for="first name" class="block text-sm font-medium dark:text-dark-txt text-gray-700">
            Title
            </label>
            {{form.title}}
            </div>
            <label for="last name" class="block text-sm font-medium dark:text-dark-txt text-gray-700">
            Content
            </label>
            {{form.content}}

            
            <div class="control-group">
                <div class="controls">
                <a href="#" class="mt-4 inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded dark:text-dark-txt text-indigo-700 dark:bg-dark-second bg-indigo-100 dark:hover:bg-dark-third hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-third focus:ring-indigo-500">
                Return to Profile </a>
                <button type="submit" class="mt-4 inline-flex float-right items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded dark:text-dark-txt text-indigo-700 dark:bg-dark-third bg-indigo-100 dark:hover:bg-dark-third hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-third focus:ring-indigo-500">
                Update</button>
                </div>
            </div> 
        </div>    
    </div>    
</form>
{% endblock content %}